{% extends 'base.html.twig' %}


{% block title %}Accueil | Darling's Movie
{% endblock %}

{% block body %}
	<style>
		
	</style>

	<main>
		<div class="parent">
			<div class="div1">
				<div class="back__h1">
					<h1>
						<span>DARLING,</span>
						WHAT ARE WE WATCHING TONIGHT
						<span>?</span>
					</h1>
				</div>
				<div class="main__h1">
					<h1>
						<span>CHÉRI(E),</span>
						QU’EST QU’ON REGARDE CE SOIR
						<span id="h1__question">?</span>
					</h1>
				</div>
			</div>
			<div class="div2">
				div2
			</div>
			<div class="div3">
				div3
			</div>
			<div class="div4">
				div4
			</div>
		</div>
	</main>
{% endblock %}




